* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;


}
:root{
    --first-color:#fda521;
    --sec-color: #033043;
    
}
body {
    background-image: url(../img/abstract-envelope.png);
    display: flex;
    justify-content: center;
    align-items: center;

}
.main {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

.warning {
    color:white !important;
    background-color: #ff00009e;
    border-radius: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 100px; */
    position: relative;
    left: 25%;
    border: solid 2px #ff000048;
    margin-top: 20px;
    padding: 10px;
}
  .warning.visible {
    display: block;
    text-align: center;
}
.warning {
    display: none;
    color: red;
}

.wrapper {
    /* width: 400PX; */
    /* height: 400PX; */
    padding: 30px;
    position: relative;
    border: #fff solid 2px;
    border-radius: 20PX;
    margin: 50PX;
    text-align: center;
    background-color: white;
    padding: 40px;
    opacity: initial;
    opacity: 70%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.close {
    font-weight: 900;
    color: var(--first-color) ;
    transition: all 0.5s;
    font-size: 25px;
    position: absolute;
    top: 5%;
    right: 5%;
}

.close:hover {
    text-shadow: 2px 2px 5px var(--first-color);
}
form-wrapper {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

h2 {
    font-size: 30px;
    color:var(--first-color);
    font-weight: bold;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid black;


}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%) !important;
    font-size: 18px;
    color: var(--sec-color);
    pointer-events: none;
    transition: .5s;
}



.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: black;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;

}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -5px;
}






.remember {
    margin: -5px 0 15px 5px;

}

.remember label {
    color: green;
    font-size: 20px;
    font-weight: bold
}


.remember label input {
    accent-color: green;
    font-size: 15px;

}

button {
    position: relative;
    width: 100%;
    height: 40px;
    background: transparent;
    box-shadow: 0 0 5px black;
    font-size: 20px;
    color: var(--first-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 30PX;
    border: none;
    outline: none;
    transition: all 0.5s;
    margin-top: 7%;
}
button:hover{
    color: var(--sec-color);
    background-color: var(--first-color);
}

.signUp-link {
    font-size: 16px;
    text-align: center;
    margin: 15px 0;

}


.signUp-link p {
    color: green;
}


.signUp-link p a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    text-align: center;

}

.signUp-link p a:hover {
    text-decoration: underline;
}


@media(max-width:750px){
    .wrapper{
        width: 90%;
    }
    h2{
        font-size: 28px;
    }
    .input-group input {
        margin-top: 4%;
    }
    button{
        margin-top: 11%;
    }
    .fa-solid, .fas {
        font-weight: 900;
        color: var(--first-color) !important;
        transition: all 0.5s;
        font-size: 25px;
        position: absolute;
        top: 28%;
        left: 83%;
    }
}