body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	/* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
	background-image: url(../img/abstract-envelope.png);
	background-size: cover;
	background-repeat: no-repeat;
}

:root {
	--first-color: #fda521;
	--sec-color: #033043;

}

.main {
	width: 380px;
	height: 615px;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	background-color: #f6f6fe;
	box-shadow: 5px 20px 50px #000;
}

#chk {
	display: none;
}

.signup {
	position: relative;
	width: 100%;
	height: 100%;
}

label {
	color: var(--first-color);
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

input {
	width: 60%;
	height: 10px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}

button {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #fda521;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button:hover {
	background: #6d44b8;
}

.login {
	height: 460px;
	background: #6db1a6;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.login label {
	color: #0a7273;
	transform: scale(.6);
}

#chk:checked~.login {
	transform: translateY(-500px);
}

#chk:checked~.login label {
	transform: scale(1);
}

#chk:checked~.signup label {
	transform: scale(.6);
}


.loginbtn {
	background-color: rgb(255, 174, 0);
}

a {
	text-decoration: none;
	margin-left: 200px;
	color: rgb(255, 174, 0);
}

.warning {
	color: white !important;
	background-color: #ff00009e;
	border-radius: 20px;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-left: 100px; */
	position: relative;
	left: 39%;
	border: solid 2px #ff000048;
}

.warning.visible {
	display: block;
	text-align: center;
}




/* new  */
@media(max-width:1000px) {
	.login {
		height: 920px !important;
		background: #6db1a6;
		border-radius: 60% / 10%;
		transform: translateY(-207px) !important;
		transition: .8s ease-in-out;
	}

	#chk:checked~.login {
		transform: translateY(-935px) !important;
	}

	.main {
		width: 80% !important;
		height: 1408px !important;
		overflow: hidden;
		background: url(https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/0352236…/0352236…/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=0352236…&hash=tfhgbs86ka6divo3llbvp93mg4csvb38) no-repeat center / cover;
		border-radius: 10px;
		background-color: #f6f6fe;
		box-shadow: 5px 20px 50px #000;
	}

	label {
		color: var(--first-color);
		font-size: 5.3em !important;
		justify-content: center;
		display: flex;
		margin: 50px;
		font-weight: bold;
		cursor: pointer;
		transition: .5s ease-in-out;
	}

	input {
		width: 80%;
		height: 98px;
		background: #e0dede;
		justify-content: center;
		display: flex;
		margin: 20px auto;
		padding: 12px;
		border: none;
		outline: none;
		border-radius: 5px;
		font-size: 39px;
	}
	a {
		text-decoration: none;
		margin-left: 200px;
		color: rgb(255, 174, 0);
		font-size: 53px;
	}

	button {
		width: 72% !important;
		height: 126px !important;
		margin: 10px auto;
		justify-content: center;
		display: block;
		color: #fff;
		background: #fda521;
		font-size: 3em;
		font-weight: bold;
		margin-top: 30px;
		outline: none;
		border: none;
		border-radius: 5px;
		transition: .2s ease-in;
		cursor: pointer;
	}
}
.warning
{
	display: none; color: red;
	position: static;
	width: 65%;
	margin: -13% auto -1%;
	font-size: 1vw;
}
.warning.visible {display: block}
#s-btn {margin-top: 20px}

.error-message {
	color: red;
	font-size: 15px;
	/* margin-top: 1px; */
	margin-left: 64px;
	
}
/* check box */
.checkbox-container{
    color: #dac9c9;
    display: flex;
    align-items: center;
    
}
.checkbox-container  {
    color: #312e2e;
    margin-left: -8rem;
    font-size: 0.9em;
	margin-top: 0;
    margin-bottom: 0;
}

.check {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    appearance: none;
    background-color: #bbb;
    transition: all .3s;
}
.check::before {
    content: '';
    position: absolute;
    border: solid #fff;
    display: block;
    width: .3em;
    height: .6em;
    border-width: 0 .2em .2em 0;
    z-index: 1;
    opacity: 0;
    right: calc(50% - .3em);
    top: calc(50% - .6em);
    transform: rotate(0deg);
    transition: all .3s;
    transform-origin: center center;
}
.check:checked {
    animation: a .3s ease-in forwards;
    background-color: rgb(120, 190, 120);
}
.check:checked::before {
    opacity: 1;
    transform: rotate(405deg);
}

/* animtion check box */
@keyframes a {
    0% {
    opacity: 1;
    transform: scale(1) rotateY(0deg);
    }
    50% {
    opacity: 0;
    transform: scale(.8) rotateY(180deg);
    }
    100% {
    opacity: 1;
    transform: scale(1) rotateY(360deg);
    }
}